.footer {
  background-color: $color-grey-dark-3;
  padding-top: 5rem;
  font-size: 2rem;
  color: $color-grey-light;

  @include respond(tab-port) {
    // padding: 8rem 0;
    padding-bottom: 1rem;
  }

  &__list {
    display: flex;
    list-style: none;
    justify-content: center;
  }

  &__item {
    color: $color-primary;
    padding: 0 0.5rem;
    font-size: 3.5rem;
  }

  &__item {
    &:link,
    &:visited {
      color: $color-grey-light;
      background-color: $color-grey-dark-3;
      text-decoration: none;
      text-transform: uppercase;
    }

    &:hover,
    &:active {
      color: $color-grey-light-2;
    }
  }

  &__copyright {
    color: $color-primary;
    display: flex;
    justify-content: center;
    padding-top: 0.5rem;
    text-transform: uppercase;
    font-size: 1.3rem;
  }
}
