.card {
  // Functionality
  perspective: 150rem;
  position: relative;
  height: 45rem;

  &__side {
    height: 43rem;
    transition: all 1s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);

    &--front {
      background-color: $color-white;
    }

    &--back {
      transform: rotateY(180deg);

      &--1 {
        background-color: $color-primary;
      }
      &--2 {
        background-color: $color-primary;
      }
      &--3 {
        background-color: $color-primary;
      }

      &--4 {
        background-color: $color-primary;
      }

      &--5 {
        background-color: $color-primary;
      }

      &--6 {
        background-color: $color-primary;
      }
    }
  }

  &:hover &__side--front {
    transform: rotateY(-180deg);
  }

  &:hover &__side--back {
    transform: rotateY(0);
  }
  // Front side styling
  &__picture {
    background-size: cover;
    height: 20rem;
    background-blend-mode: screen;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;

    &--1 {
      background-image: url(../img/img-4.png);
      background-position: center;
      overflow: hidden;
    }
    &--2 {
      background-image: url(../img/decoder-ring.png);
      background-position: center;
      overflow: hidden;
    }
    &--3 {
      background-image: url(../img/img-6.png);
      background-position: center;
      overflow: hidden;
    }

    &--4 {
      background-image: url(../img/library.png);
      background-position: center;
      overflow: hidden;
    }

    &--5 {
      background-image: url(../img/img-5.png);
      background-position: center;
      overflow: hidden;
    }

    &--6 {
      background-image: url(../img/trvlr.png);
      background-position: center;
      overflow: hidden;
    }
  }

  &__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: $color-white;
    position: absolute;
    top: 12rem;
    right: 2rem;
    width: 70%;
  }

  &__details {
    padding: 3rem;
  }

  ul {
    list-style: none;
    width: 90%;
    margin: 0 auto;
  }
  li {
    text-align: center;
    font-size: 1.3rem;
    padding: 1rem;

    &:not(:last-child) {
      border-bottom: 1px solid $color-grey-light-2;
    }
  }

  // FRONT SIDE STYLING
  &__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center;
  }

  &__tech-box {
    text-align: center;
    color: $color-white;
    margin-bottom: 4rem;
  }

  &__tech-only {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 400;
  }

  &__tech-value {
    font-size: 2rem;
    font-weight: 300;
  }

  @media only screen and (max-width: 56.25em), only screen and (hover: none) {
    height: auto;
    border-radius: 3px;
    background-color: $color-white;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);

    li {
      font-size: 1.7rem;
    }
    &__side {
      height: auto;
      position: relative;
      box-shadow: none;

      &--back {
        transform: rotateY(0);
        // clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%);
      }
    }

    &:hover &__side--front {
      transform: rotateY(0);
    }

    &__details {
      padding: 1rem 3rem;
      // display: none;
    }

    // FRONT SIDE STYLING
    &__cta {
      position: relative;
      top: 0%;
      left: 0;
      transform: translate(0);
      width: 100%;
      padding: 1rem 1rem 1rem 1rem;
    }

    &__tech-box {
      margin-bottom: 1rem;
    }

    &__tech-value {
      font-size: 2.5rem;
    }
  }
}
