.profile {
  position: relative;
  &__photo {
    width: 65%;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    transition: all 0.2s;
    outline-offset: 2rem;
    margin-left: 70rem;
    margin-top: 1rem;

    @include respond(tab-port) {
      position: relative;
      width: 70%;
      text-align: center;
      margin-left: 6.5rem;
      box-shadow: 0 1.5rem 3rem rgba($color-black, 0.2);
    }

    @include respond(phone) {
      width: 70%;
      margin-left: 5.8rem;
      margin-top: 2rem;
      box-shadow: 0 1.5rem 3rem rgba($color-black, 0.2);
    }

    &:hover {
      // outline: 1.5rem solid $color-primary;
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba($color-black, 0.5);
      z-index: 20;
    }
  }
  &:hover &__photo:not(:hover) {
    transform: scale(0.9);
  }
}
