.section-about {
  background-color: $color-grey-light-2;
  padding: 25rem 0;
  // margin-bottom: 10rem;
  // margin-top: -25vh;

  padding-top: 5rem;
  @include respond(tab-port) {
    padding: 20rem 0;
    padding-top: 5rem;
  }
}

.resume {
  @include respond(phone) {
    display: flex;
    justify-content: center;
  }
}
.section-portfolio {
  padding: 10rem 0;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-grey-dark-3, 0.8),
      rgba($color-grey-dark, 0.8)
    ),
    url(../img/background.jpg);

  background-size: cover;

  transform: skewY(-7deg);
  margin-top: -10rem;
  // margin-bottom: -17rem;

  & > * {
    transform: skewY(7deg);
  }

  @include respond(tab-port) {
    padding: 10rem 0;
  }
}

.section-projects {
  background-color: $color-grey-light-2;
  padding: 25rem 0 5rem 0;
  margin-top: -12rem;

  @include respond(tab-port) {
    padding: 20rem 0 0rem 0;
  }
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 5rem;
}

.project-img {
  width: 50%;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.3);
  transition: all 0.2s;
  // outline-offset: 2rem;
  // padding: 2rem;

  &:hover {
    // outline: 1.5rem solid $color-primary;
    transform: scale(1.05) translateY(-0.5rem);
    box-shadow: 0 2.5rem 4rem rgba($color-black, 0.4);
    z-index: 20;
  }

  @include respond(tab-port) {
    width: 70%;
  }
}

.project-text {
  // padding: 0 10rem 0 10rem;
  padding-top: 5rem;
  margin-left: 20rem;
  margin-right: 20rem;
  align-items: center;
  justify-content: center;
  text-align: center;

  @include respond(tab-port) {
    margin-left: 5rem;
    margin-right: 5rem;
  }
}

.project-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  gap: 2rem;
}

.section-contact {
  padding: 10rem 0;
  background-image: linear-gradient(
    to right bottom,
    $color-grey-dark-3,
    $color-grey-dark
  );

  @include respond(tab-port) {
    padding: 5rem 0;
  }
  @include respond(tab-port) {
    text-align: center;
  }
}

.contact {
  background-image: linear-gradient(
      105deg,
      $color-grey-light-2 0%,
      $color-grey-light-2 50%,
      transparent 50%
    ),
    url(../img/background.jpg);
  background-size: 100%;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);

  height: 50rem;

  @include respond(tab-land) {
    background-image: linear-gradient(
        105deg,
        rgba($color-white, 0.9) 0%,
        rgba($color-white, 0.9) 65%,
        transparent 65%
      ),
      url(../img/background.jpg);
    background-size: cover;

    @include respond(tab-port) {
      background-image: linear-gradient(
          to right,
          rgba($color-white, 0.9) 0%,
          rgba($color-white, 0.9) 100%
        ),
        url(../img/background.jpg);
    }
  }

  &__form {
    width: 50%;
    padding: 6rem;

    @include respond(tab-land) {
      width: 65%;
    }

    @include respond(tab-port) {
      width: 100%;
    }
  }
}
